html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#turnon {
  width: 50%;
  height: 100%;
  display: block;
  background: #111;
  transition: 300ms;
}

.lamp,
.turnoff {
  width: 100px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 100px solid #444;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  z-index: 11;
}

.turnoff {
  display: none;
}

.bulb {
  position: absolute;
  top: 90px;
  left: 50%;
  height: 32px;
  width: 32px;
  margin-left: -16px;
  background: #777;
  border-radius: 32px;
  z-index: 9;
  transition: 300ms;
  -webkit-transition-delay: 300ms;
}

.string {
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: 25px;
  height: 100px;
  width: 2px;
  background: #999;
  display: block;
  z-index: 10;
}

.light {
  width: 50px;
  height: 0;
  top: 90px;
  left: 50%;
  margin: -135px 0 0 -740px;
  border: 715px solid transparent;
  border-top: none;
  border-bottom: 1400px solid #ff8;
  opacity: 0;
  position: absolute;
  transition: 300ms;
  -webkit-transition-delay: 300ms;
}

#turnon:target .light {
  opacity: 0.2;
}
#turnon:target .bulb {
  background: #faeb83;
}
#turnon:target .turnoff {
  display: block;
}
#turnon:target .lamp {
  display: none;
}
#turnon:target .string {
  -webkit-animation: pull 500ms;
}

@-webkit-keyframes pull {
  0% {
    height: 100px;
    background: #666;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 100px;
  }
}

/*  */

body {
  background: #333;
  padding: 30px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.stopped {
  animation: unset;
}
.spinning {
  animation: spin 6ms linear infinite;
}
.ceiling-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.ceiling-container:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  background: #444;
  box-shadow: inset 0 0px 0px 8px #444, inset 0 1px 5px 22px #383838;
}
.ceiling-fan {
  display: block;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
  box-shadow: inset 1px 1px 40px #555;
}
.ceiling-fan:after {
  content: "";
  position: absolute;
  background: #666;
  display: block;
}
.ceiling-fan.horizontal {
  width: auto;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  transform: skewX(20deg);
}
.ceiling-fan.horizontal:after {
  top: 25%;
  width: 15px;
  height: 50%;
}
.ceiling-fan.vertical {
  width: 50px;
  height: auto;
  left: 50%;
  margin-left: -25px;
  transform: skewY(20deg);
}
.ceiling-fan.vertical:after {
  height: 15px;
  width: 50%;
  margin-left: 25%;
}
.ceiling-fan.left {
  left: 0;
  right: 50%;
  margin-right: 45px;
  border-radius: 50% 15px 15px 50%;
}
.ceiling-fan.left:after {
  left: 100%;
}
.ceiling-fan.right {
  right: 0;
  left: 50%;
  margin-left: 45px;
  border-radius: 15px 50% 50% 15px;
}
.ceiling-fan.right:after {
  right: 100%;
}
.ceiling-fan.top {
  top: 0;
  bottom: 50%;
  margin-bottom: 45px;
  border-radius: 50% 50% 15px 15px;
}
.ceiling-fan.top:after {
  top: 100%;
}
.ceiling-fan.bottom {
  top: 50%;
  bottom: 0;
  margin-top: 45px;
  border-radius: 15px 15px 50% 50%;
}
.ceiling-fan.bottom:after {
  bottom: 100%;
}
